/* globals.css */
/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body{
  background: black;
}

.no-scroll{
  overflow: hidden;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  /* gap: rem; */
}

 .artist.embla__slide {
  flex: 0 0 42%; /* Adjust '2' for more slides per view */
  box-sizing: border-box;
  margin: 0 8px;
}

 .card.embla__slide {
  flex: 0 0 45%; /* Adjust '2' for more slides per view */
  box-sizing: border-box;
  margin: 0 8px;
}

 .latest {
  flex: 0 0 28%; /* Adjust '2' for more slides per view */
  box-sizing: border-box;
  margin: 0 8px;
}

@media (min-width: 768px){
  .card.embla__slide {
    flex: 0 0 15%; /* Adjust '2' for more slides per view */
    box-sizing: border-box;
    margin: 0 8px;
  }

  .latest {
    flex: 0 0 10%; /* Adjust '2' for more slides per view */
    box-sizing: border-box;
    margin: 0 8px;
  }

  .artist.embla__slide {
    flex: 0 0 24.5%; /* Adjust '2' for more slides per view */
    box-sizing: border-box;
    margin: 0 8px;
  }
}

@media (min-width: 1024px){
  .card.embla__slide {
    flex: 0 0 23%; /* Adjust '2' for more slides per view */
    box-sizing: border-box;
    margin: 0 8px;
  }

  .artist.embla__slide {
    flex: 0 0 18.5%; /* Adjust '2' for more slides per view */
    box-sizing: border-box;
    margin: 0 8px;
  }

}

/* Add this to your global CSS file or a module CSS file */
.tawk-minimized-container {
  display: none; /* Hide the minimized widget */
}

/* Add this to your global CSS or a CSS module */
.tawk-maximized-container {
  position: relative !important;
  width: 100% !important;
  height: 600px !important; /* Adjust height as needed */
  max-width: 100% !important;
  max-height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  margin: 0 auto !important;
  border: none !important;
  box-shadow: none !important;
}



/* Add this to your global CSS or a CSS module */
.tawk-button-container, .tawk-min-button {
  display: none !important;
}